body{
    background-color:#00BFB3;
  }
  .site{
    font-family: 'Lobster', cursive;
  }
  .text-logo{
    font-family: 'Lobster', cursive;
    color: #e7480f;
    text-shadow: 2px 2px #ffd301;
    font-size: 50px;
    padding: 40px 0px;
    text-align: center;
  }
  .text-logo .fa-utensils{
    color: #ffd301;
    text-shadow: 0px 0px #ffd301;
  }
  .admin {
    background: #fff;
    padding: 50px;
    border-radius: 10px;
  }